In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
salesData = pd.read_csv(r"C:\Users\atalb\Documents\Coding\MLandAI\PandasNumpy\datasets\Sample-Superstore.csv", encoding="latin1")

In [4]:
salesData['Order Date'] = pd.to_datetime(salesData['Order Date'])
salesData['OrderDateMonth'] = salesData['Order Date'].apply(lambda x:x.month)
salesData['OrderDateYear'] = salesData['Order Date'].apply(lambda x:x.year)

salesMonthYear = pd.pivot_table(salesData, index=['OrderDateMonth'], columns=['OrderDateYear'], aggfunc='sum', values='Sales')

In [5]:
salesMonthYear

OrderDateYear         2014        2015        2016         2017
OrderDateMonth
1               14236.8950  18174.0756  18542.4910   43971.3740
2                4519.8920  11951.4110  22978.8150   20301.1334
3               55691.0090  38726.2520  51715.8750   58872.3528
4               28295.3450  34195.2085  38750.0390   36521.5361
5               23648.2870  30131.6865  56987.7280   44261.1102
6               34595.1276  24797.2920  40344.5340   52981.7257
7               33946.3930  28765.3250  39261.9630   45264.4160
8               27909.4685  36898.3322  31115.3743   63120.8880
9               81777.3508  64595.9180  73410.0249   87866.6520
10              31453.3930  31404.9235  59687.7450   77776.9232
11              78628.7167  75972.5635  79411.9658  118447.8250
12              69545.6205  74919.5212  96999.0430   83829.3188

In [6]:
salesMonthYear.rank()

OrderDateYear   2014  2015  2016  2017
OrderDateMonth
1                2.0   2.0   1.0   3.0
2                1.0   1.0   2.0   1.0
3                9.0   9.0   7.0   7.0
4                5.0   7.0   4.0   2.0
5                3.0   5.0   8.0   4.0
6                8.0   3.0   6.0   6.0
7                7.0   4.0   5.0   5.0
8                4.0   8.0   3.0   8.0
9               12.0  10.0  10.0  11.0
10               6.0   6.0   9.0   9.0
11              11.0  12.0  11.0  12.0
12              10.0  11.0  12.0  10.0

In [7]:
salesMonthYear.rank(ascending=False)

OrderDateYear   2014  2015  2016  2017
OrderDateMonth
1               11.0  11.0  12.0  10.0
2               12.0  12.0  11.0  12.0
3                4.0   4.0   6.0   6.0
4                8.0   6.0   9.0  11.0
5               10.0   8.0   5.0   9.0
6                5.0  10.0   7.0   7.0
7                6.0   9.0   8.0   8.0
8                9.0   5.0  10.0   5.0
9                1.0   3.0   3.0   2.0
10               7.0   7.0   4.0   4.0
11               2.0   1.0   2.0   1.0
12               3.0   2.0   1.0   3.0

In [11]:
df = pd.DataFrame(data = {'A' : [100, 101, 102, 101, 103, 105, 107, 107, 105, 99]})

In [12]:
df['DefaultRank'] = df.rank()
df

     A  DefaultRank
0  100          2.0
1  101          3.5
2  102          5.0
3  101          3.5
4  103          6.0
5  105          7.5
6  107          9.5
7  107          9.5
8  105          7.5
9   99          1.0

In [13]:
df['denserank'] = df['A'].rank(method='dense')
df

     A  DefaultRank  denserank
0  100          2.0        2.0
1  101          3.5        3.0
2  102          5.0        4.0
3  101          3.5        3.0
4  103          6.0        5.0
5  105          7.5        6.0
6  107          9.5        7.0
7  107          9.5        7.0
8  105          7.5        6.0
9   99          1.0        1.0

In [14]:
df['minRank'] = df['A'].rank(method='min')
df

     A  DefaultRank  denserank  minRank
0  100          2.0        2.0      2.0
1  101          3.5        3.0      3.0
2  102          5.0        4.0      5.0
3  101          3.5        3.0      3.0
4  103          6.0        5.0      6.0
5  105          7.5        6.0      7.0
6  107          9.5        7.0      9.0
7  107          9.5        7.0      9.0
8  105          7.5        6.0      7.0
9   99          1.0        1.0      1.0

In [15]:
df['maxRank'] = df['A'].rank(method='max')
df

     A  DefaultRank  denserank  minRank  maxRank
0  100          2.0        2.0      2.0      2.0
1  101          3.5        3.0      3.0      4.0
2  102          5.0        4.0      5.0      5.0
3  101          3.5        3.0      3.0      4.0
4  103          6.0        5.0      6.0      6.0
5  105          7.5        6.0      7.0      8.0
6  107          9.5        7.0      9.0     10.0
7  107          9.5        7.0      9.0     10.0
8  105          7.5        6.0      7.0      8.0
9   99          1.0        1.0      1.0      1.0

In [16]:
dataFrame = salesData.groupby(['OrderDateYear', 'Category']).agg({'Profit':'sum'}).reset_index()
dataFrame

    OrderDateYear         Category      Profit
0            2014        Furniture   5457.7255
1            2014  Office Supplies  22593.4161
2            2014       Technology  21492.8325
3            2015        Furniture   3015.2029
4            2015  Office Supplies  25099.5338
5            2015       Technology  33503.8670
6            2016        Furniture   6959.9531
7            2016  Office Supplies  35061.2292
8            2016       Technology  39773.9920
9            2017        Furniture   3018.3913
10           2017  Office Supplies  39736.6217
11           2017       Technology  50684.2566

In [17]:
dataFrame['overallRank'] = dataFrame['Profit'].rank()

In [18]:
dataFrame

    OrderDateYear         Category      Profit  overallRank
0            2014        Furniture   5457.7255          3.0
1            2014  Office Supplies  22593.4161          6.0
2            2014       Technology  21492.8325          5.0
3            2015        Furniture   3015.2029          1.0
4            2015  Office Supplies  25099.5338          7.0
5            2015       Technology  33503.8670          8.0
6            2016        Furniture   6959.9531          4.0
7            2016  Office Supplies  35061.2292          9.0
8            2016       Technology  39773.9920         11.0
9            2017        Furniture   3018.3913          2.0
10           2017  Office Supplies  39736.6217         10.0
11           2017       Technology  50684.2566         12.0

In [19]:
dataFrame['groupRank'] = dataFrame.groupby("OrderDateYear")['Profit'].rank(ascending=False, method='dense')
dataFrame

    OrderDateYear         Category      Profit  overallRank  groupRank
0            2014        Furniture   5457.7255          3.0        3.0
1            2014  Office Supplies  22593.4161          6.0        1.0
2            2014       Technology  21492.8325          5.0        2.0
3            2015        Furniture   3015.2029          1.0        3.0
4            2015  Office Supplies  25099.5338          7.0        2.0
5            2015       Technology  33503.8670          8.0        1.0
6            2016        Furniture   6959.9531          4.0        3.0
7            2016  Office Supplies  35061.2292          9.0        2.0
8            2016       Technology  39773.9920         11.0        1.0
9            2017        Furniture   3018.3913          2.0        3.0
10           2017  Office Supplies  39736.6217         10.0        2.0
11           2017       Technology  50684.2566         12.0        1.0

In [21]:
## Percent change- 
salesMonthYear

OrderDateYear         2014        2015        2016         2017
OrderDateMonth
1               14236.8950  18174.0756  18542.4910   43971.3740
2                4519.8920  11951.4110  22978.8150   20301.1334
3               55691.0090  38726.2520  51715.8750   58872.3528
4               28295.3450  34195.2085  38750.0390   36521.5361
5               23648.2870  30131.6865  56987.7280   44261.1102
6               34595.1276  24797.2920  40344.5340   52981.7257
7               33946.3930  28765.3250  39261.9630   45264.4160
8               27909.4685  36898.3322  31115.3743   63120.8880
9               81777.3508  64595.9180  73410.0249   87866.6520
10              31453.3930  31404.9235  59687.7450   77776.9232
11              78628.7167  75972.5635  79411.9658  118447.8250
12              69545.6205  74919.5212  96999.0430   83829.3188

In [22]:
salesMonthYear.pct_change()

OrderDateYear        2014      2015      2016      2017
OrderDateMonth
1                     NaN       NaN       NaN       NaN
2               -0.682523 -0.342392  0.239252 -0.538310
3               11.321314  2.240308  1.250589  1.899954
4               -0.491923 -0.117002 -0.250713 -0.379649
5               -0.164234 -0.118833  0.470650  0.211918
6                0.462902 -0.177036 -0.292049  0.197027
7               -0.018752  0.160019 -0.026833 -0.145660
8               -0.177837  0.282736 -0.207493  0.394492
9                1.930093  0.750646  1.359285  0.392038
10              -0.615378 -0.513825 -0.186927 -0.114830
11               1.499848  1.419129  0.330457  0.522917
12              -0.115519 -0.013861  0.221466 -0.292268

In [23]:
salesMonthYear.pct_change(axis=1)

OrderDateYear   2014      2015      2016      2017
OrderDateMonth
1                NaN  0.276548  0.020271  1.371384
2                NaN  1.644181  0.922686 -0.116528
3                NaN -0.304623  0.335422  0.138381
4                NaN  0.208510  0.133201 -0.057510
5                NaN  0.274159  0.891289 -0.223322
6                NaN -0.283214  0.626973  0.313232
7                NaN -0.152625  0.364906  0.152882
8                NaN  0.322072 -0.156727  1.028608
9                NaN -0.210100  0.136450  0.196930
10               NaN -0.001541  0.900586  0.303064
11               NaN -0.033781  0.045272  0.491561
12               NaN  0.077272  0.294710 -0.135772

In [24]:
salesMonthYear.pct_change(periods=2)

OrderDateYear       2014      2015      2016      2017
OrderDateMonth
1                    NaN       NaN       NaN       NaN
2                    NaN       NaN       NaN       NaN
3               2.911738  1.130851  1.789047  0.338879
4               5.260182  1.861186  0.686338  0.798990
5              -0.575366 -0.221931  0.101939 -0.248185
6               0.222644 -0.274831  0.041148  0.450698
7               0.435469 -0.045346 -0.311045  0.022668
8              -0.193254  0.487998 -0.228759  0.191371
9               1.409014  1.245618  0.869749  0.941186
10              0.126979 -0.148880  0.918272  0.232190
11             -0.038503  0.176120  0.081759  0.348041
12              1.211069  1.385598  0.625108  0.077817